# Ignore virtual environment
venv/
python/

# Ignore package-lock.json
package-lock.json

# Ignore Python cache files
__pycache__/
typing_extensions.py

# Ignore all .zip files
*.zip
TrafficLambda.zip

# Ignore build and package directories
build/
package/